body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    
  }

/* modifico logo para que se vea blanco */
  .logo {
    filter: brightness(0) invert(1);
    margin-right: 10px; 
  }





  